In [2]:
if 5 > 2:
    print('Five is greater than two!')

Five is greater than two!

In [3]:
if 5 > 2:
print('Five is greater than two!')

IndentationError: expected an indented block after 'if' statement on line 1 (3357700666.py, line 2)

In [6]:
if 5 > 2:
 print('Five is greater than two!')

if 5 > 2:
        print('Five is greater than two!')

Five is greater than two!
Five is greater than two!

In [8]:
if 5 > 2:
    print('Five is greater than two!') # 4 spaces
      print('Ten is greater than two!') # 2 spaces

IndentationError: unexpected indent (1421912243.py, line 3)

In [15]:
x = 5
y = 'Hello, World!'
print(x)
print(y)

5
Hello, World!

In [17]:
''' not a true comment '''
""" not a true comment """

' not a true comment '

In [ ]:
# best practice 
# Use # for actual comments, and reserve triple quotes (""" """ or ''' ''') for docstrings
# docstrings (documentation for functions, classes, and modules)

In [1]:
x = 10
y = 'Amit'
print(x)
print(y)

10
Amit

In [ ]:
x = 10
print(x, type(x))
x = 'iith'
print(x, type(x))

10 <class 'int'>
iith <class 'str'>

In [7]:
## casting

a = 5
print(a, type(a))

x = str(3)
print(x, type(x))
y = float(3)
print(y)
z = int(3)
print(z)

5 <class 'int'>
3 <class 'str'>
3.0
3

In [9]:
## get the type using `type()` function
a = 10
print(type(a))
b = 10.00
print(type(b))
x = 'consistency'
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
## string variables can be declared either using single quotes ('') or double quotes ("")
x = 'shivam'
y = "shivam"
print(x, y) 
# both x and y are same

shivam shivam

In [12]:
## variables names are case-sensitive
a = 10.0
print(a, type(a), id(a))
A = 10
print(A, type(A), id(A))

10.0 <class 'float'> 1800551434128
10 <class 'int'> 140709465160408

Variable naming rules:-
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [13]:
## legal variable names
myvar = "Aryan"
my_var = "Aryan"
_my_var = "Aryan"
myVar = "Aryan"
MYVAR = "Aryan"
myvar2 = "Aryan"

In [14]:
## Illegal variable names
2myvar = "Surya"
my-var = "Surya"
my var = "Surya

SyntaxError: invalid decimal literal (3844466928.py, line 2)

In [15]:
## variable names are case sensitive

Multi Words Variable Names
* Camel Case
* Pascal Case
* Snake Case

In [ ]:
myVariableName = 'surya Kumar' # camel Case
MyVariableName = 'Surya Kumar' # Pascal Case
my_variable_name = 'surya_kumar' # snake_case

In [16]:
## assign values to multiple variables in one line
x, y, z = 'apple', 'banana', 'mango'
print(x)
print(y)
print(z)

apple
banana
mango

**Note**: Make sure the number of variables matches the number of values, or else you will get an error.

In [17]:
## one value to multiple variables
x = y = z = 'grapes'
print(x)
print(y)
print(z)

grapes
grapes
grapes

In [18]:
## unpacking a collection
# A collection of values in a list, tuple etc. can be extracted into variables, called 'UNPACKING'
fruits = ['apple', 'banana', 'mango']
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
mango

In [ ]:
## output variables: using `print()` function
x = 'python is awesome'
print(x)

python is awesome

In [28]:
x = 'python'
y = 'is'
z = 'awesome'
print(x,y,z)

python is awesome

In [ ]:
x = 'python '
y = 'is '
z = 'awesome'
print(x+y+z) # concatenation of strings

python is awesome

In [30]:
x = 5
y = 10
print(x+y)

15

In [ ]:
x = 'iith' # string
y = 27 # int
print(x+y) # type error

TypeError: can only concatenate str (not "int") to str

In [33]:
x = 'iith' # string
y = 27 # int
print(x, y)

iith 27

Gloabal Variables
* Variables that are created outside of a function are known as global variables.
* Global variables can be used by everyone, both inside of functions and outside.

In [41]:
## Create a variable outside of a function, and use it inside the function

full_name = 'Shivam Rathaur'

def myfunc():
    print('My name is', full_name) # or print('My name is ' + full_name)
    return

myfunc()

My name is Shivam Rathaur

**Note**: If we create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [42]:
a = 'Shivam Rathaur'

def myfunc():
    a = 'Shivam'
    print('My name is', a) # or print('My name is ' + a)
    return

myfunc()
print('My name is', a)

My name is Shivam
My name is Shivam Rathaur

The Global Keyword
- Normally, when we create a variable inside a function, that variable is local, and can only be used inside that function.
- To create a global variable inside a function, you can use the `global` keyword.

In [ ]:
## Example
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():

    ## global x = 'james'  # ‚ùå SyntaxError: invalid syntax
    ## In Python, the global keyword is used to declare a variable inside a function as a global variable, 
    # but you cannot assign a value to a variable at the same time as declaring it global.
    
    global x
    x = 'aman'
    return

myfunc() # calling the myfunc() function before using `x` variable

print('hi', x)

hi aman

**Note**: use the `global` keyword if want to change a global variable inside a function.

In [51]:
x = 'iitb'

def myfunc():
    global x
    x = 'iith'
    print('i love', x)
    return

myfunc()
print('i love', x)

i love iith
i love iith

#### Python Built-in Data Types

| **Category**       | **Data Types**                    |
|--------------------|-----------------------------------|
| **Text Type**      | `str`                             |
| **Numeric Types**  | `int`, `float`, `complex`         |
| **Sequence Types** | `list`, `tuple`, `range`          |
| **Mapping Type**   | `dict`                            |
| **Set Types**      | `set`, `frozenset`                |
| **Boolean Type**   | `bool`                            |
| **Binary Types**   | `bytes`, `bytearray`, `memoryview` |
| **None Type**      | `NoneType`                        |

In [52]:

# type() function: to get the data type of any object.
x = 15
print(type(x))

<class 'int'>

In [ ]:
## int(), str(), float(), list(), set(), tuple(), bool(), etc. -> constructor functions

In [54]:
## python numbers
# there are 3 numeric types in python: 1) int 2) float 3) complex

x = 10
print(type(x))
y = 3.14
print(type(y))
z = 3+4j
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [56]:
## float can also be scientific numbers with an "e" to indicate the power of 10

x = 35e5
y = 12E6
z = -98.76e-10
print(x, y, z)
print(type(x), type(y), type(z))

3500000.0 12000000.0 -9.876e-09
<class 'float'> <class 'float'> <class 'float'>

In [57]:
## complex : 'j' as the imaginary part
x = 4-8j
y = 9j
z = 1+3j
print(x, y, z)
print(type(x), type(y), type(z))

(4-8j) 9j (1+3j)
<class 'complex'> <class 'complex'> <class 'complex'>

type conversion:

In [58]:
## Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

a = float(x) # convert from int to float
b = int(y) # convert from float to int
c = complex(x) # convert from int to complex

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Note**: Complex Numbers can't be converted into another number type.

In [59]:
x = 4+3j
y = int(x)
print(y, type(y))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

Random Number
- Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

In [ ]:
## Example
# Import the random module, and display a random number from 1 to 9

import random as rd 
print(rd.randrange(1,10)) # `start` is included but `stop` is excluded.

4

- Signature: What arguments the function takes.
- Docstring: A brief description of what the function does.

In [ ]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [9]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [ ]:
## Python Casting