In [1]:
if 5 > 2:
    print('Five is greater than two!')

Five is greater than two!

In [2]:
if 5 > 2:
print('Five is greater than two!')

IndentationError: expected an indented block after 'if' statement on line 1 (3357700666.py, line 2)

In [6]:
if 5 > 2:
 print('Five is greater than two!')

if 5 > 2:
        print('Five is greater than two!')

Five is greater than two!
Five is greater than two!

In [8]:
if 5 > 2:
    print('Five is greater than two!') # 4 spaces
      print('Ten is greater than two!') # 2 spaces

IndentationError: unexpected indent (1421912243.py, line 3)

In [15]:
x = 5
y = 'Hello, World!'
print(x)
print(y)

5
Hello, World!

In [17]:
''' not a true comment '''
""" not a true comment """

' not a true comment '

In [ ]:
# best practice 
# Use # for actual comments, and reserve triple quotes (""" """ or ''' ''') for docstrings
# docstrings (documentation for functions, classes, and modules)

In [1]:
x = 10
y = 'Amit'
print(x)
print(y)

10
Amit

In [ ]:
x = 10
print(x, type(x))
x = 'iith'
print(x, type(x))

10 <class 'int'>
iith <class 'str'>

In [7]:
## casting

a = 5
print(a, type(a))

x = str(3)
print(x, type(x))
y = float(3)
print(y)
z = int(3)
print(z)

5 <class 'int'>
3 <class 'str'>
3.0
3

In [9]:
## get the type using `type()` function
a = 10
print(type(a))
b = 10.00
print(type(b))
x = 'consistency'
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
## string variables can be declared either using single quotes ('') or double quotes ("")
x = 'shivam'
y = "shivam"
print(x, y) 
# both x and y are same

shivam shivam

In [12]:
## variables names are case-sensitive
a = 10.0
print(a, type(a), id(a))
A = 10
print(A, type(A), id(A))

10.0 <class 'float'> 1800551434128
10 <class 'int'> 140709465160408

Variable naming rules:-
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [13]:
## legal variable names
myvar = "Aryan"
my_var = "Aryan"
_my_var = "Aryan"
myVar = "Aryan"
MYVAR = "Aryan"
myvar2 = "Aryan"

In [14]:
## Illegal variable names
2myvar = "Surya"
my-var = "Surya"
my var = "Surya

SyntaxError: invalid decimal literal (3844466928.py, line 2)

In [15]:
## variable names are case sensitive

Multi Words Variable Names
* Camel Case
* Pascal Case
* Snake Case

In [ ]:
myVariableName = 'surya Kumar' # camel Case
MyVariableName = 'Surya Kumar' # Pascal Case
my_variable_name = 'surya_kumar' # snake_case

In [16]:
## assign values to multiple variables in one line
x, y, z = 'apple', 'banana', 'mango'
print(x)
print(y)
print(z)

apple
banana
mango

**Note**: Make sure the number of variables matches the number of values, or else you will get an error.

In [17]:
## one value to multiple variables
x = y = z = 'grapes'
print(x)
print(y)
print(z)

grapes
grapes
grapes

In [18]:
## unpacking a collection
# A collection of values in a list, tuple etc. can be extracted into variables, called 'UNPACKING'
fruits = ['apple', 'banana', 'mango']
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
mango

In [ ]:
## output variables: using `print()` function
x = 'python is awesome'
print(x)

python is awesome

In [28]:
x = 'python'
y = 'is'
z = 'awesome'
print(x,y,z)

python is awesome

In [ ]:
x = 'python '
y = 'is '
z = 'awesome'
print(x+y+z) # concatenation of strings

python is awesome

In [30]:
x = 5
y = 10
print(x+y)

15

In [ ]:
x = 'iith' # string
y = 27 # int
print(x+y) # type error

TypeError: can only concatenate str (not "int") to str

In [33]:
x = 'iith' # string
y = 27 # int
print(x, y)

iith 27

Gloabal Variables
* Variables that are created outside of a function are known as global variables.
* Global variables can be used by everyone, both inside of functions and outside.

In [41]:
## Create a variable outside of a function, and use it inside the function

full_name = 'Shivam Rathaur'

def myfunc():
    print('My name is', full_name) # or print('My name is ' + full_name)
    return

myfunc()

My name is Shivam Rathaur

**Note**: If we create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [42]:
a = 'Shivam Rathaur'

def myfunc():
    a = 'Shivam'
    print('My name is', a) # or print('My name is ' + a)
    return

myfunc()
print('My name is', a)

My name is Shivam
My name is Shivam Rathaur

The Global Keyword
- Normally, when we create a variable inside a function, that variable is local, and can only be used inside that function.
- To create a global variable inside a function, you can use the `global` keyword.

In [ ]:
## Example
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():

    ## global x = 'james'  # ‚ùå SyntaxError: invalid syntax
    ## In Python, the global keyword is used to declare a variable inside a function as a global variable, 
    # but you cannot assign a value to a variable at the same time as declaring it global.
    
    global x
    x = 'aman'
    return

myfunc() # calling the myfunc() function before using `x` variable

print('hi', x)

hi aman

**Note**: use the `global` keyword if want to change a global variable inside a function.

In [51]:
x = 'iitb'

def myfunc():
    global x
    x = 'iith'
    print('i love', x)
    return

myfunc()
print('i love', x)

i love iith
i love iith

#### Python Built-in Data Types

| **Category**       | **Data Types**                    |
|--------------------|-----------------------------------|
| **Text Type**      | `str`                             |
| **Numeric Types**  | `int`, `float`, `complex`         |
| **Sequence Types** | `list`, `tuple`, `range`          |
| **Mapping Type**   | `dict`                            |
| **Set Types**      | `set`, `frozenset`                |
| **Boolean Type**   | `bool`                            |
| **Binary Types**   | `bytes`, `bytearray`, `memoryview` |
| **None Type**      | `NoneType`                        |

In [52]:

# type() function: to get the data type of any object.
x = 15
print(type(x))

<class 'int'>

In [ ]:
## int(), str(), float(), list(), set(), tuple(), bool(), etc. -> constructor functions

In [54]:
## python numbers
# there are 3 numeric types in python: 1) int 2) float 3) complex

x = 10
print(type(x))
y = 3.14
print(type(y))
z = 3+4j
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [56]:
## float can also be scientific numbers with an "e" to indicate the power of 10

x = 35e5
y = 12E6
z = -98.76e-10
print(x, y, z)
print(type(x), type(y), type(z))

3500000.0 12000000.0 -9.876e-09
<class 'float'> <class 'float'> <class 'float'>

In [57]:
## complex : 'j' as the imaginary part
x = 4-8j
y = 9j
z = 1+3j
print(x, y, z)
print(type(x), type(y), type(z))

(4-8j) 9j (1+3j)
<class 'complex'> <class 'complex'> <class 'complex'>

type conversion:

In [58]:
## Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

a = float(x) # convert from int to float
b = int(y) # convert from float to int
c = complex(x) # convert from int to complex

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Note**: Complex Numbers can't be converted into another number type.

In [59]:
x = 4+3j
y = int(x)
print(y, type(y))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

Random Number
- Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

In [ ]:
## Example
# Import the random module, and display a random number from 1 to 9

import random as rd 
print(rd.randrange(1,10)) # `start` is included but `stop` is excluded.

4

- Signature: What arguments the function takes.
- Docstring: A brief description of what the function does.

In [ ]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [9]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [5]:
## Python Casting
x = int(1)
y = int(3.5)
z = int('32') # z = int('32.56') -> ValueError: invalid literal for int() with base 10: '32.56'
print(x,y,z)

1 3 32

In [7]:
x = float(1)
y = float(2.5)
z = float('3')
w = float('4.6')
print(x,y,z,w)

1.0 2.5 3.0 4.6

In [9]:
x = str('ad420')
y = str(5)
z = str(3.0)
print(x,y,z)

ad420 5 3.0

Python Strings

In [12]:
# quotes can be used inside a string, as long as they don't match the quotes surrounding the string.
print("It's all right")
print("He is calling 'Marry'")
print('He is calling "Raam"')

It's all right
He is calling 'Marry'
He is calling "Raam"

In [13]:
a = 'Hello'
print(a)

Hello

In [17]:
# multiline string using 3 single/double quotes
a = """They are very good at maths and computer science,
recently are working on machine learning models, which can convert
music notes into code in real time."""
print(a)

They are very good at maths and computer science,
recently are working on machine learning models, which can convert
music notes into code in real time.

Note: Unicode characters are a universal standard that assigns a unique code to every character across languages, symbols, and emojis.

In [ ]:
a = "Hello World!"
print(a[1])

e

In [26]:
# looping through a string
s = 'mango'
for char in s:
    print(char, end='\n')

print(len(s))

for char in 'banana':
    print(char, end='')

m
a
n
g
o
5
banana

In [27]:
## 'in' keyword
txt = 'The best things in life are free!'
print('free' in txt)

True

In [29]:
## print only if 'free' is present
txt = 'The best things in life are free!'
if 'free' in txt:
    print("Yes, 'free' is present")

Yes, 'free' is present

In [31]:
## 'not in' keyword
txt = "The best things in life are free!"
print('expensive' not in txt)

True

In [33]:
txt = "The best things in life are free!"
if 'expensive' not in txt:
    print("Yes, 'expensive' is not present")

Yes, 'expensive' is not present

Slicing Strings

In [ ]:
a = "Hello, World!"
print(a[2:8])
print(a[:8])
print(a[2:])
print(a[:])
print(a[::2])
print(a[::-1]) # (-)ve step => traverse in reverse

llo, W
Hello, W
llo, World!
Hello, World!
Hlo ol!
!dlroW ,olleH

In [47]:
# negative indexing - to start the slice from the end of the string but 
#                     slicing will occur form left to right.
b = "Hello World!, I am Shivam Rathaur"
print(b[-7:-2])

Ratha

Modify Strings

In [53]:
s = "Hello! World"
print(s.upper()) # `upper` method
print(s.lower()) # 'lower' method

HELLO! WORLD
hello! world

In [55]:
## strip() method: removes any whitespaces from the beginning or the end
txt = ' I am Shivam Rathore  '
print(txt.strip()) # returns "I am Shivam Rathore"

I am Shivam Rathore

In [56]:
# replace() method: replaces a string with another string
a = "Hello World!"
print(a.replace('!',':)'))

Hello World:)

In [64]:
# split() method: used to divide a string into a list of substrings based on a specified separator.
a = 'Hello World!'
print(a.split('o'))
print(a.split())
print(a.split('o', 1))

['Hell', ' W', 'rld!']
['Hello', 'World!']
['Hell', ' World!']

String Concatenation

In [68]:
a = 'Hello'
b = 'World!'
c = a + b # concatenate
print(c)
print(a + " " + b)

HelloWorld!
Hello World!

String Format

In [70]:
age = 20
txt = 'My name is Shivam Rathore, I am ' + age + 'years old.'
print(txt)

TypeError: can only concatenate str (not "int") to str

F-Strings

In [76]:
age = 20
txt = f"My name is Shivam Rathore, I am {age} years old." # {} -> placeholder
print(txt)

# A placeholder can contain variables, operations, functions, and modifiers to format the value.

My name is Shivam Rathore, I am 20 years old.

In [78]:
price = 15
txt = f'The price is {price} dollars'
print(txt)

The price is 15 dollars

In [ ]:
# modifier - to format the value
pi = 3.14159
txt = f'The value of PI is {pi:.2f}' # modifier
print(txt)

The value of PI is 3.14

**Note**: A modifier is included by adding a colon `:` followed by a legal formatting type, like .2f which means fixed point number with 2 decimals.

In [81]:
txt = f'The total price is {19 * 8}'
print(txt)

The total price is 152

Escape Characters

In [ ]:
# An escape character is a backslsh \ followed by the character want to insert.
print("Hello I am "Shivam Rathore" from "IIT Hyderabad"") # error double quotes inside double quotes

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2424694372.py, line 2)

In [84]:
print("Hello I am \"Shivam Rathore\" from \"IIT Hyderabad\"")

Hello I am "Shivam Rathore" from "IIT Hyderabad"

- \\' - single quote
- \\\ - backslash
- \n - new line
- \r - carriage return
- \t - tab
- \b - backspace
- \f - form feed
- \ooo - octal value
- \xhh - hex value

String Methods

**Note**: All string methods return new values, they don't change the original string.

In [98]:
s = "hello, World!"
print(s.capitalize()) # Hello, world!
print(s.casefold()) # hello, world!
print(s.center(20, '-')) # center a string within a specified width by padding it with a specified character (default is a space).

Hello, world!
hello, world!
---hello, World!----

<div align="center">

| Method         | Description                                                     |
|----------------|-----------------------------------------------------------------|
| `capitalize()` | Converts the first character to upper case                      |
| `casefold()`   | Converts string into lower case                                 |
| `center()`     | Returns a centered string                                       |
| `count()`      | Returns the number of times a specified value occurs in a string|
| `encode()`     | Returns an encoded version of the string                        |
| `endswith()`   | Returns true if the string ends with the specified value        |
| `expandtabs()` | Sets the tab size of the string                                 |
| `find()`       | Searches for a value and returns the position where it was found|
| `format()`     | Formats specified values in a string                            |
| `format_map()` | Formats specified values in a string                            |
| `index()`      | Searches for a value and returns the position where it was found|
| `isalnum()`    | Returns True if all characters are alphanumeric                 |
| `isalpha()`    | Returns True if all characters are alphabetic                   |
| `isascii()`    | Returns True if all characters are ASCII                        |
| `isdecimal()`  | Returns True if all characters are decimals                     |
| `isdigit()`    | Returns True if all characters are digits                       |
| `isidentifier()`| Returns True if the string is a valid identifier               |
| `islower()`    | Returns True if all characters are lowercase                    |
| `isnumeric()`  | Returns True if all characters are numeric                      |
| `isprintable()`| Returns True if all characters are printable                    |
| `isspace()`    | Returns True if all characters are whitespaces                  |
| `istitle()`    | Returns True if the string follows title case rules             |
| `isupper()`    | Returns True if all characters are uppercase                    |
| `join()`       | Converts elements of an iterable into a string                  |
| `ljust()`      | Returns a left-justified version of the string                  |
| `lower()`      | Converts a string to lowercase                                  |
| `lstrip()`     | Returns a left-trimmed version of the string                    |
| `maketrans()`  | Returns a translation table for translations                    |
| `partition()`  | Returns a tuple with the string divided into three parts        |
| `replace()`    | Returns a string with specified values replaced                 |
| `rfind()`      | Searches for a value and returns the last position              |
| `rindex()`     | Searches for a value and returns the last position              |
| `rjust()`      | Returns a right-justified version of the string                 |
| `rpartition()` | Returns a tuple with the string divided into three parts        |
| `rsplit()`     | Splits the string at the specified separator from the right     |
| `rstrip()`     | Returns a right-trimmed version of the string                   |
| `split()`      | Splits the string at the specified separator                    |
| `splitlines()` | Splits the string at line breaks                                |
| `startswith()` | Returns true if the string starts with the specified value      |
| `strip()`      | Returns a trimmed version of the string                         |
| `swapcase()`   | Swaps uppercase to lowercase and vice versa                     |
| `title()`      | Converts the first character of each word to uppercase          |
| `translate()`  | Returns a translated string                                     |
| `upper()`      | Converts a string to uppercase                                  |
| `zfill()`      | Pads the string with zeros on the left                          |

</div>

Boolean Values: True or False

In [102]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [103]:
a = 120
b = 50

if b > a:
    print(f'{b} is greater than {a}')
else:
    print(f'{b} is not greater than {a}')

50 is not greater than 120

- Almost any value is evaluated to `True` if it has some sort of content.
- Any string is `True`, except empty strings.
- Any number is `True`, except `0`.
- Any list, tuple, set, and dictionary are `True`, except empty ones.

In [ ]:
## bool() function: evaluate any value, and return True or False
print(bool('Hello'))
print(bool(15))
print(bool('')) # empty string
print(bool(0))
print(bool([])) # empty list
print(bool(())) # empty tuple
print(bool({})) # empty dictionary
print(bool(None)) # False
print(bool(False)) # False

True
True
False
False
False
False
False
False
False

One more value, or object in this case, evaluates to `False`, and that is if you have an object that is made from a class with a `__len__` function that returns `0` or `False`

In [112]:
class myclass():
    def __len__(self):
        return 0
    
myobj = myclass()
print(bool(myobj))

False

In [113]:
# function can return a boolean value
def func():
    return True

print(func())

True

In [ ]:
## Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction() :
  return True

if myFunction():
    print('YES!')
else:
    print("NO!")

YES!

In [116]:
# isinstance() function: used to determine if an object is of a certain data type
x = 15
print(isinstance(x, float))
print(isinstance(x, int))

False
True

##### Python Operators

Python divides the operators in the following groups:

- Arithmetic operators (+, -, *, /, %, **, //)
- Assignment operators (=, +=, -=, *=, /=, %=, //=, **=, &=, |&, >>=, ^=, <<=, :=)
- Comparison operators (==, !=, >, )
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

In [118]:
print(x:=10) # same as x = 10 then print(x)

10

Python Functions

In [119]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [123]:
def my_function(fname):
    print('Hi ' + fname)

my_function('Shivam')  
my_function('Adarsh')

Hi Shivam
Hi Adarsh

Parameters or Arguments?
- A parameter is the variable listed inside the parentheses in the function definition.
- An argument is the value that is sent to the function when it is called.

In [126]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function('Shivam','Rathore')  
my_function('Adarsh','Patel')

Shivam Rathore
Adarsh Patel

In [127]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function('Shivam')  
my_function('Adarsh')

TypeError: my_function() missing 1 required positional argument: 'lname'

**Note:** function expects 2 arguments, but gets only 1

Arbitrary Arguments, *args
- If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
- This way the function will receive a `tuple of arguments`, and can access the items accordingly

In [129]:
# Arbitrary Arguments, *args
def my_function(*kids):
    print('The youngest child is', kids[3])

my_function('Smith', 'Stark', 'Linus', 'Marry', 'John')

The youngest child is Marry

Keyword Arguments
- You can also send arguments with the key = value syntax.
- This way the order of the arguments does not matter.

In [130]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

**Note:** The phrase `Keyword Arguments` are often shortened to `kwargs` in Python documentations.

##### Arbitrary Keyword Arguments, **kwargs
- If you do not know how many keyword arguments that will be passed into your function, add two asterisk: `**` before the parameter name in the function definition.
- This way the function will receive a `dictionary of arguments`, and can access the items accordingly.

In [132]:
def func(**kids):
    print('The last name of the kid is ' + kids['lname'])

func(lname = "Henry", fname = "Tye")

The last name of the kid is Henry

In [133]:
# default parameter value
def func(country = 'India'):
    print(f'I am from {country}')

func('USA')
func('Australia')    
func()
func('Germany')

I am from USA
I am from Australia
I am from India
I am from Germany

**Note**: You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function

In [134]:
## passing a list as an argument

def func(fruits):
    for fruit in fruits:
        print(fruit)

fruits = ['apple', 'mango', 'banana']
func(fruits)

apple
mango
banana

In [139]:
# write a function that return table of a number

def func(n):
    lt = []
    for i in range(1,11):
        lt.append(n*i)
    return lt    

print(func(5))
print(func(19))
print(func(25))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[19, 38, 57, 76, 95, 114, 133, 152, 171, 190]
[25, 50, 75, 100, 125, 150, 175, 200, 225, 250]

In [ ]:
def func():
    pass # function definition can't be empty

- Positional Arguments: These are arguments passed to a function in the correct order (position).
- Keyword Arguments: You explicitly specify parameter names when passing arguments. This allows you to pass arguments out of order.

**Note**: We can specify that a function can have `ONLY positional arguments`, or `ONLY keyword arguments`.
- `positional arguments`: add `, /` after the arguments.
- To specify that a function can have only `keyword arguments`, `add *`, before the arguments:

In [145]:
# positional argument
def func(x,y,/):
    return x-y

print(func(10,15))

-5

In [144]:
# keyword argument
def func(*,x,y):
    return x-y

print(func(y=10,x=15))

5

In [146]:
# by default: keyword argument
def func(x,y):
    return x-y

print(func(y=10,x=15))

5

In [ ]:
# imp. note : adding the , / produce an error if you try to send a keyword argument and vice-versa.
def func(x,y,/):
    return x-y

print(func(y=10,x=15))

TypeError: func() got some positional-only arguments passed as keyword arguments: 'x, y'

**Note** : Without the `*,` we are allowed to use positional arguments even if the function expects keyword arguments.

Comnibe both positional and keyword argument
- argument before the `/ ,` are positional-only & argument after the `*,` are keyword-only.

In [151]:
def func(a,b,/,*,c,d):
    return a+b+c+d

print(func(10,-15, d=25, c=15))

35

Recursion

In [ ]:
# recursive function to find sum from 1 to n
def func(n):
    if n==0:
        return 0
    return n+func(n-1)

print(func(5))
print(func(10))
print(func(6))

15
55
21

Python Lambda Function

- syntax: `lambda arguments : expression`

In [156]:
a = lambda x,y : x+y
print(a(5,15))

20

In [158]:
b = lambda x,y,z : x*y*z
print(b(4,1,8))

32

In [159]:
# The power of lambda is better shown when you use them as an anonymous function inside another function.
def myfunc(n):
    return lambda a : a * n

In [162]:
doubler = myfunc(2)
print(doubler(5))
tripler = myfunc(3)
print(tripler(5))

10
15

**Note**: Use lambda functions when an anonymous function is required for a short period of time.

#### Arrays

**Note**: Python does not have built-in support for Arrays, but Python Lists can be used instead.

In [187]:
arr = ['BMW', 'Ford', 'Toyota']
print(arr)

['BMW', 'Ford', 'Toyota']

In [188]:
print(arr[1])

Ford

In [189]:
# len() method
len(arr)

3

In [190]:
for item in arr:
    print(item, end=' ')

BMW Ford Toyota

In [191]:
# append() method
arr.append('Honda')
arr

['BMW', 'Ford', 'Toyota', 'Honda']

In [192]:
# pop() method: remove and return item at index (default last).
print(arr.pop(1))
print(arr)

Ford
['BMW', 'Toyota', 'Honda']

In [193]:
# remove() method: to remove an element (first occurence) from the array(list)
arr.remove('Toyota')
print(arr)

['BMW', 'Honda']

#### Lists/Arrays Methods:
<div align="center">

| **Method**    | **Description**                                                |
|---------------|----------------------------------------------------------------|
| `append()`    | Adds an element at the end of the list                         |
| `clear()`     | Removes all the elements from the list                         |
| `copy()`      | Returns a copy of the list                                     |
| `count()`     | Returns the number of elements with the specified value        |
| `extend()`    | Add the elements of a list (or any iterable) to the end of the current list |
| `index()`     | Returns the index of the first element with the specified value |
| `insert()`    | Adds an element at the specified position                      |
| `pop()`       | Removes the element at the specified position                  |
| `remove()`    | Removes the first item with the specified value                |
| `reverse()`   | Reverses the order of the list                                 |
| `sort()`      | Sorts the list                                                 |

</div>

#### Python Classes & Objects

- Python is an object oriented programming language.
- Almost everything in Python is an object, with its properties(attributes) and methods.
- A Class is like an object constructor, or a "blueprint" for creating objects.

In [198]:
# create a class
class myClass:
    x = 10

In [199]:
# create an object of the above class
p1 = myClass()
print(p1.x)

10

The `__init__()` Function: special built-in function in Python classes called a constructor.
- All classes have a function called `__init__()`, which is always executed when the class is being initiated.
- Use the` __init__()` function to assign values to object properties, or other operations that are necessary to do when the object is being created.

In [ ]:
class Student:
    def __init__(self, _name, _age):
        self.name = _name
        self.age = _age

p1 = Student('Aman', 23)
print(p1.name, p1.age)

Aman 23

**Note**:  The `__init__()` function is called automatically every time the class is being used to create a new object.

The `__str__()` function
- The` __str__()` function controls what should be returned when the class object is represented as a string.
- If the `__str__()` function is not set, the string representation of the object is returned

In [201]:
# when __str__() is not set
class Student:
    def __init__(self, _name, _age):
        self.name = _name
        self.age = _age

P1 = Student('Anand', 28)
print(P1)

<__main__.Student object at 0x00000250D5EB6090>

- < >: Indicates that this is an object.
- `__main__`: Refers to the main module where the class is defined (i.e., the script being run directly).
- .Student: Shows the class name of the object (Student class in this case).
- object at: Specifies that this is an object reference.
- 0x00000250D5EB6090: This is the memory address where the object is stored (in hexadecimal format).

When you print an object directly, Python prints the default representation of the object unless you tell it how to display the object's information.

In [203]:
## string representation of an object WITH the __str__() function

class Student:
    def __init__(self, _name, _age):
        self.name = _name
        self.age = _age

    def __str__(self):
        return f'{self.name} {self.age}'    

P1 = Student('Anand', 28)
print(P1)

Anand 28

**Note**: The `__str__()` method customizes how the object is printed.

In [ ]:
## Object Methods: Objects can also contain methods, Methods in objects are functions that belong to the object.

# Insert a function that prints a greeting, and execute it on the p1 object
class Person:
    def __init__(self, _name, _age):
        self.name = _name
        self.age = _age

    def greet(self):
        print(f'Hi, I am {self.name}')

P1 = Person('Aman', 20)
P1.greet()

Hi, I am Aman

**Note**: The `self` parameter is a reference to the current instance(object) of the class, and is used to access variables that belong to the class.

In [ ]:
## The `Self` Parameter
# > It does not have to be named `self`, you can call it whatever you like, but it has to be the 
#   first parameter of any function in the class.

## Use the words sillyobject and abcd instead of self

class Person:
    def __init__(sillyobject, _name, _age):
        sillyobject.name = _name
        sillyobject.age = _age

    def greet(abcd):
        print(f'Hi, {abcd.name}')

p1 = Person('Ajay', 45)
p2 = Person('Aman', 20)
p1.greet()     

print(p2.name)

# set age to 40
p1.age = 40
print(p1.age)
# delete object's property
del p1.age
print(p1.age)

Hi, Ajay
Aman
40

AttributeError: 'Person' object has no attribute 'age'

In [214]:
# delete an object
del p2
print(p2.name, p2.age)

NameError: name 'p2' is not defined

In [216]:
class Student:
    pass

$Ques:$ When the class object is represented as a string, there is a function that controls what should be returned, which one?
1. `__init__()`

2. `__str__()`

3. `__return__()`

- Option B is correct :)