In [1]:
if 5 > 2:
    print('Five is greater than two!')

Five is greater than two!

In [2]:
if 5 > 2:
print('Five is greater than two!')

IndentationError: expected an indented block after 'if' statement on line 1 (3357700666.py, line 2)

In [6]:
if 5 > 2:
 print('Five is greater than two!')

if 5 > 2:
        print('Five is greater than two!')

Five is greater than two!
Five is greater than two!

In [8]:
if 5 > 2:
    print('Five is greater than two!') # 4 spaces
      print('Ten is greater than two!') # 2 spaces

IndentationError: unexpected indent (1421912243.py, line 3)

In [15]:
x = 5
y = 'Hello, World!'
print(x)
print(y)

5
Hello, World!

In [17]:
''' not a true comment '''
""" not a true comment """

' not a true comment '

In [ ]:
# best practice 
# Use # for actual comments, and reserve triple quotes (""" """ or ''' ''') for docstrings
# docstrings (documentation for functions, classes, and modules)

In [1]:
x = 10
y = 'Amit'
print(x)
print(y)

10
Amit

In [ ]:
x = 10
print(x, type(x))
x = 'iith'
print(x, type(x))

10 <class 'int'>
iith <class 'str'>

In [7]:
## casting

a = 5
print(a, type(a))

x = str(3)
print(x, type(x))
y = float(3)
print(y)
z = int(3)
print(z)

5 <class 'int'>
3 <class 'str'>
3.0
3

In [9]:
## get the type using `type()` function
a = 10
print(type(a))
b = 10.00
print(type(b))
x = 'consistency'
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
## string variables can be declared either using single quotes ('') or double quotes ("")
x = 'shivam'
y = "shivam"
print(x, y) 
# both x and y are same

shivam shivam

In [12]:
## variables names are case-sensitive
a = 10.0
print(a, type(a), id(a))
A = 10
print(A, type(A), id(A))

10.0 <class 'float'> 1800551434128
10 <class 'int'> 140709465160408

Variable naming rules:-
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [13]:
## legal variable names
myvar = "Aryan"
my_var = "Aryan"
_my_var = "Aryan"
myVar = "Aryan"
MYVAR = "Aryan"
myvar2 = "Aryan"

In [14]:
## Illegal variable names
2myvar = "Surya"
my-var = "Surya"
my var = "Surya

SyntaxError: invalid decimal literal (3844466928.py, line 2)

In [15]:
## variable names are case sensitive

Multi Words Variable Names
* Camel Case
* Pascal Case
* Snake Case

In [ ]:
myVariableName = 'surya Kumar' # camel Case
MyVariableName = 'Surya Kumar' # Pascal Case
my_variable_name = 'surya_kumar' # snake_case

In [16]:
## assign values to multiple variables in one line
x, y, z = 'apple', 'banana', 'mango'
print(x)
print(y)
print(z)

apple
banana
mango

**Note**: Make sure the number of variables matches the number of values, or else you will get an error.

In [17]:
## one value to multiple variables
x = y = z = 'grapes'
print(x)
print(y)
print(z)

grapes
grapes
grapes

In [18]:
## unpacking a collection
# A collection of values in a list, tuple etc. can be extracted into variables, called 'UNPACKING'
fruits = ['apple', 'banana', 'mango']
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
mango

In [ ]:
## output variables: using `print()` function
x = 'python is awesome'
print(x)

python is awesome

In [28]:
x = 'python'
y = 'is'
z = 'awesome'
print(x,y,z)

python is awesome

In [ ]:
x = 'python '
y = 'is '
z = 'awesome'
print(x+y+z) # concatenation of strings

python is awesome

In [30]:
x = 5
y = 10
print(x+y)

15

In [ ]:
x = 'iith' # string
y = 27 # int
print(x+y) # type error

TypeError: can only concatenate str (not "int") to str

In [33]:
x = 'iith' # string
y = 27 # int
print(x, y)

iith 27

Gloabal Variables
* Variables that are created outside of a function are known as global variables.
* Global variables can be used by everyone, both inside of functions and outside.

In [41]:
## Create a variable outside of a function, and use it inside the function

full_name = 'Shivam Rathaur'

def myfunc():
    print('My name is', full_name) # or print('My name is ' + full_name)
    return

myfunc()

My name is Shivam Rathaur

**Note**: If we create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [42]:
a = 'Shivam Rathaur'

def myfunc():
    a = 'Shivam'
    print('My name is', a) # or print('My name is ' + a)
    return

myfunc()
print('My name is', a)

My name is Shivam
My name is Shivam Rathaur

The Global Keyword
- Normally, when we create a variable inside a function, that variable is local, and can only be used inside that function.
- To create a global variable inside a function, you can use the `global` keyword.

In [ ]:
## Example
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():

    ## global x = 'james'  # ❌ SyntaxError: invalid syntax
    ## In Python, the global keyword is used to declare a variable inside a function as a global variable, 
    # but you cannot assign a value to a variable at the same time as declaring it global.
    
    global x
    x = 'aman'
    return

myfunc() # calling the myfunc() function before using `x` variable

print('hi', x)

hi aman

**Note**: use the `global` keyword if want to change a global variable inside a function.

In [51]:
x = 'iitb'

def myfunc():
    global x
    x = 'iith'
    print('i love', x)
    return

myfunc()
print('i love', x)

i love iith
i love iith

#### Python Built-in Data Types

| **Category**       | **Data Types**                    |
|--------------------|-----------------------------------|
| **Text Type**      | `str`                             |
| **Numeric Types**  | `int`, `float`, `complex`         |
| **Sequence Types** | `list`, `tuple`, `range`          |
| **Mapping Type**   | `dict`                            |
| **Set Types**      | `set`, `frozenset`                |
| **Boolean Type**   | `bool`                            |
| **Binary Types**   | `bytes`, `bytearray`, `memoryview` |
| **None Type**      | `NoneType`                        |

In [52]:

# type() function: to get the data type of any object.
x = 15
print(type(x))

<class 'int'>

In [ ]:
## int(), str(), float(), list(), set(), tuple(), bool(), etc. -> constructor functions

In [54]:
## python numbers
# there are 3 numeric types in python: 1) int 2) float 3) complex

x = 10
print(type(x))
y = 3.14
print(type(y))
z = 3+4j
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [56]:
## float can also be scientific numbers with an "e" to indicate the power of 10

x = 35e5
y = 12E6
z = -98.76e-10
print(x, y, z)
print(type(x), type(y), type(z))

3500000.0 12000000.0 -9.876e-09
<class 'float'> <class 'float'> <class 'float'>

In [57]:
## complex : 'j' as the imaginary part
x = 4-8j
y = 9j
z = 1+3j
print(x, y, z)
print(type(x), type(y), type(z))

(4-8j) 9j (1+3j)
<class 'complex'> <class 'complex'> <class 'complex'>

type conversion:

In [58]:
## Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

a = float(x) # convert from int to float
b = int(y) # convert from float to int
c = complex(x) # convert from int to complex

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Note**: Complex Numbers can't be converted into another number type.

In [59]:
x = 4+3j
y = int(x)
print(y, type(y))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

Random Number
- Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

In [ ]:
## Example
# Import the random module, and display a random number from 1 to 9

import random as rd 
print(rd.randrange(1,10)) # `start` is included but `stop` is excluded.

4

- Signature: What arguments the function takes.
- Docstring: A brief description of what the function does.

In [ ]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [9]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [5]:
## Python Casting
x = int(1)
y = int(3.5)
z = int('32') # z = int('32.56') -> ValueError: invalid literal for int() with base 10: '32.56'
print(x,y,z)

1 3 32

In [7]:
x = float(1)
y = float(2.5)
z = float('3')
w = float('4.6')
print(x,y,z,w)

1.0 2.5 3.0 4.6

In [9]:
x = str('ad420')
y = str(5)
z = str(3.0)
print(x,y,z)

ad420 5 3.0

Python Strings

In [12]:
# quotes can be used inside a string, as long as they don't match the quotes surrounding the string.
print("It's all right")
print("He is calling 'Marry'")
print('He is calling "Raam"')

It's all right
He is calling 'Marry'
He is calling "Raam"

In [13]:
a = 'Hello'
print(a)

Hello

In [17]:
# multiline string using 3 single/double quotes
a = """They are very good at maths and computer science,
recently are working on machine learning models, which can convert
music notes into code in real time."""
print(a)

They are very good at maths and computer science,
recently are working on machine learning models, which can convert
music notes into code in real time.

Note: Unicode characters are a universal standard that assigns a unique code to every character across languages, symbols, and emojis.

In [ ]:
a = "Hello World!"
print(a[1])

e

In [26]:
# looping through a string
s = 'mango'
for char in s:
    print(char, end='\n')

print(len(s))

for char in 'banana':
    print(char, end='')

m
a
n
g
o
5
banana

In [27]:
## 'in' keyword
txt = 'The best things in life are free!'
print('free' in txt)

True

In [29]:
## print only if 'free' is present
txt = 'The best things in life are free!'
if 'free' in txt:
    print("Yes, 'free' is present")

Yes, 'free' is present

In [31]:
## 'not in' keyword
txt = "The best things in life are free!"
print('expensive' not in txt)

True

In [33]:
txt = "The best things in life are free!"
if 'expensive' not in txt:
    print("Yes, 'expensive' is not present")

Yes, 'expensive' is not present

Slicing Strings

In [ ]:
a = "Hello, World!"
print(a[2:8])
print(a[:8])
print(a[2:])
print(a[:])
print(a[::2])
print(a[::-1]) # (-)ve step => traverse in reverse

llo, W
Hello, W
llo, World!
Hello, World!
Hlo ol!
!dlroW ,olleH

In [47]:
# negative indexing - to start the slice from the end of the string but 
#                     slicing will occur form left to right.
b = "Hello World!, I am Shivam Rathaur"
print(b[-7:-2])

Ratha

Modify Strings

In [53]:
s = "Hello! World"
print(s.upper()) # `upper` method
print(s.lower()) # 'lower' method

HELLO! WORLD
hello! world

In [55]:
## strip() method: removes any whitespaces from the beginning or the end
txt = ' I am Shivam Rathore  '
print(txt.strip()) # returns "I am Shivam Rathore"

I am Shivam Rathore

In [56]:
# replace() method: replaces a string with another string
a = "Hello World!"
print(a.replace('!',':)'))

Hello World:)

In [64]:
# split() method: used to divide a string into a list of substrings based on a specified separator.
a = 'Hello World!'
print(a.split('o'))
print(a.split())
print(a.split('o', 1))

['Hell', ' W', 'rld!']
['Hello', 'World!']
['Hell', ' World!']

String Concatenation

In [68]:
a = 'Hello'
b = 'World!'
c = a + b # concatenate
print(c)
print(a + " " + b)

HelloWorld!
Hello World!

String Format

In [70]:
age = 20
txt = 'My name is Shivam Rathore, I am ' + age + 'years old.'
print(txt)

TypeError: can only concatenate str (not "int") to str

F-Strings

In [76]:
age = 20
txt = f"My name is Shivam Rathore, I am {age} years old." # {} -> placeholder
print(txt)

# A placeholder can contain variables, operations, functions, and modifiers to format the value.

My name is Shivam Rathore, I am 20 years old.

In [78]:
price = 15
txt = f'The price is {price} dollars'
print(txt)

The price is 15 dollars

In [ ]:
# modifier - to format the value
pi = 3.14159
txt = f'The value of PI is {pi:.2f}' # modifier
print(txt)

The value of PI is 3.14

**Note**: A modifier is included by adding a colon `:` followed by a legal formatting type, like .2f which means fixed point number with 2 decimals.

In [81]:
txt = f'The total price is {19 * 8}'
print(txt)

The total price is 152

Escape Characters

In [ ]:
# An escape character is a backslsh \ followed by the character want to insert.
print("Hello I am "Shivam Rathore" from "IIT Hyderabad"") # error double quotes inside double quotes

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2424694372.py, line 2)

In [84]:
print("Hello I am \"Shivam Rathore\" from \"IIT Hyderabad\"")

Hello I am "Shivam Rathore" from "IIT Hyderabad"

- \\' - single quote
- \\\ - backslash
- \n - new line
- \r - carriage return
- \t - tab
- \b - backspace
- \f - form feed
- \ooo - octal value
- \xhh - hex value

String Methods

**Note**: All string methods return new values, they don't change the original string.

In [98]:
s = "hello, World!"
print(s.capitalize()) # Hello, world!
print(s.casefold()) # hello, world!
print(s.center(20, '-')) # center a string within a specified width by padding it with a specified character (default is a space).

Hello, world!
hello, world!
---hello, World!----

<div align="center">

| Method         | Description                                                     |
|----------------|-----------------------------------------------------------------|
| `capitalize()` | Converts the first character to upper case                      |
| `casefold()`   | Converts string into lower case                                 |
| `center()`     | Returns a centered string                                       |
| `count()`      | Returns the number of times a specified value occurs in a string|
| `encode()`     | Returns an encoded version of the string                        |
| `endswith()`   | Returns true if the string ends with the specified value        |
| `expandtabs()` | Sets the tab size of the string                                 |
| `find()`       | Searches for a value and returns the position where it was found|
| `format()`     | Formats specified values in a string                            |
| `format_map()` | Formats specified values in a string                            |
| `index()`      | Searches for a value and returns the position where it was found|
| `isalnum()`    | Returns True if all characters are alphanumeric                 |
| `isalpha()`    | Returns True if all characters are alphabetic                   |
| `isascii()`    | Returns True if all characters are ASCII                        |
| `isdecimal()`  | Returns True if all characters are decimals                     |
| `isdigit()`    | Returns True if all characters are digits                       |
| `isidentifier()`| Returns True if the string is a valid identifier               |
| `islower()`    | Returns True if all characters are lowercase                    |
| `isnumeric()`  | Returns True if all characters are numeric                      |
| `isprintable()`| Returns True if all characters are printable                    |
| `isspace()`    | Returns True if all characters are whitespaces                  |
| `istitle()`    | Returns True if the string follows title case rules             |
| `isupper()`    | Returns True if all characters are uppercase                    |
| `join()`       | Converts elements of an iterable into a string                  |
| `ljust()`      | Returns a left-justified version of the string                  |
| `lower()`      | Converts a string to lowercase                                  |
| `lstrip()`     | Returns a left-trimmed version of the string                    |
| `maketrans()`  | Returns a translation table for translations                    |
| `partition()`  | Returns a tuple with the string divided into three parts        |
| `replace()`    | Returns a string with specified values replaced                 |
| `rfind()`      | Searches for a value and returns the last position              |
| `rindex()`     | Searches for a value and returns the last position              |
| `rjust()`      | Returns a right-justified version of the string                 |
| `rpartition()` | Returns a tuple with the string divided into three parts        |
| `rsplit()`     | Splits the string at the specified separator from the right     |
| `rstrip()`     | Returns a right-trimmed version of the string                   |
| `split()`      | Splits the string at the specified separator                    |
| `splitlines()` | Splits the string at line breaks                                |
| `startswith()` | Returns true if the string starts with the specified value      |
| `strip()`      | Returns a trimmed version of the string                         |
| `swapcase()`   | Swaps uppercase to lowercase and vice versa                     |
| `title()`      | Converts the first character of each word to uppercase          |
| `translate()`  | Returns a translated string                                     |
| `upper()`      | Converts a string to uppercase                                  |
| `zfill()`      | Pads the string with zeros on the left                          |

</div>

Boolean Values: True or False

In [102]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [103]:
a = 120
b = 50

if b > a:
    print(f'{b} is greater than {a}')
else:
    print(f'{b} is not greater than {a}')

50 is not greater than 120

- Almost any value is evaluated to `True` if it has some sort of content.
- Any string is `True`, except empty strings.
- Any number is `True`, except `0`.
- Any list, tuple, set, and dictionary are `True`, except empty ones.

In [ ]:
## bool() function: evaluate any value, and return True or False
print(bool('Hello'))
print(bool(15))
print(bool('')) # empty string
print(bool(0))
print(bool([])) # empty list
print(bool(())) # empty tuple
print(bool({})) # empty dictionary
print(bool(None)) # False
print(bool(False)) # False

True
True
False
False
False
False
False
False
False

One more value, or object in this case, evaluates to `False`, and that is if you have an object that is made from a class with a `__len__` function that returns `0` or `False`

In [112]:
class myclass():
    def __len__(self):
        return 0
    
myobj = myclass()
print(bool(myobj))

False

In [113]:
# function can return a boolean value
def func():
    return True

print(func())

True

In [ ]:
## Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction() :
  return True

if myFunction():
    print('YES!')
else:
    print("NO!")

YES!

In [116]:
# isinstance() function: used to determine if an object is of a certain data type
x = 15
print(isinstance(x, float))
print(isinstance(x, int))

False
True

##### Python Operators

Python divides the operators in the following groups:

- Arithmetic operators (+, -, *, /, %, **, //)
- Assignment operators (=, +=, -=, *=, /=, %=, //=, **=, &=, |&, >>=, ^=, <<=, :=)
- Comparison operators (==, !=, >, <, >=, <=)
- Logical operators (and, or, not)
- Identity operators: used to compare the object's id (is, is not)
- Membership operators: used to test if a sequence is present in an object (in, not in)
- Bitwise operators: used to compare (binary) numbers (&, |, ^, ~, <<, >>)

    - `&` - AND  
    - `|` - OR  
    - `^` - XOR  
    - `~` - NOT  
    - `<<` - Zero fill left shift  
    - `>>` - Signed right shift

In [10]:
print(x:=10) # same as x = 10 then print(x)

10

In [ ]:
x = ['apple','mango']
y = ['apple','mango']
z = y
print(x is z) # False
print(x is y) # False
print(z is y) # True
print(id(z) == id(y)) # True

False
False
True
True

In [9]:
items = ['pen', 'pencil', 'eraser']
item = 'scale'
print(item in items)
print(item not in items)

False
True

In [17]:
## Bitwise Operators
x, y = 6, 3

# AND Operator
print(x&y)
# OR Operator
print(x|y)
# XOR Operator
print(x^y)
# NOT Operator
print(~3)
# << Operator
print(3 << 2)
# >> Operator
print(8 >> 2)

2
7
5
-4
12
2

Operator Precedence List

1. `()` - Parentheses  
2. `**` - Exponentiation  
3. `+x`, `-x`, `~x` - Unary plus, unary minus, and bitwise NOT  
4. `*`, `/`, `//`, `%` - Multiplication, division, floor division, and modulus  
5. `+`, `-` - Addition and subtraction  
6. `<<`, `>>` - Bitwise left and right shifts  
7. `&` - Bitwise AND  
8. `^` - Bitwise XOR  
9. `|` - Bitwise OR  
10. `==`, `!=`, `>`, `>=`, `<`, `<=`, `is`, `is not`, `in`, `not in` - Comparisons, identity, and membership operators  
11. `not` - Logical NOT  
12. `and` - AND  
13. `or` - OR

**Note**: If two operators have the same precedence, the expression is evaluated from left to right.

Python Lists

Note: Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [18]:
lt = ['apple', 'banana', 'cherry']
print(lt)

['apple', 'banana', 'cherry']

In [19]:
# List items are ordered, changeable, and allow duplicate values.

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [21]:
# Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry', 'apple', 'cherry']
5

In [23]:
# String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1, '\n', list2, '\n', list3)

['apple', 'banana', 'cherry']
 [1, 5, 7, 9, 3]
 [True, False, False]

In [25]:
# A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]
list1

['abc', 34, True, 40, 'male']

**Note**: From Python's perspective, lists are defined as `objects` with the data type `'list'`.

In [26]:
print(type(list1))

<class 'list'>

It is also possible to use the `list() constructor` when creating a `new list.`

In [28]:
## Using the list() constructor to make a List.
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets, a tuple is passed as an argument.
print(thislist)

['apple', 'banana', 'cherry']

#### Python Collections (Arrays)
There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

1. *Set items are unchangeable, but you can remove and/or add items whenever you like.
2. **As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

`When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.`

In [30]:
# change list items
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [31]:
# insert an item
thislist.insert(1, 'grapes')
print(thislist)

['apple', 'grapes', 'watermelon']

In [ ]:
# extend() method
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical) # The elements will be added to the end of the list.

print(thislist)
print(tropical)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['mango', 'pineapple', 'papaya']

In [34]:
## you can add any iterable, The extend() method does not have to append lists, you can add any 
# iterable object (tuples, sets, dictionaries etc.).

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)
print(type(thislist))

['apple', 'banana', 'cherry', 'kiwi', 'orange']
<class 'list'>

In [35]:
## The remove() method removes the specified item.

# Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

**Note**: If there are more than one item with the specified value, the remove() method removes the first occurrence.

In [36]:
## The pop() method removes the specified index.

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [37]:
## Note: If you do not specify the index, the pop() method removes the last item.

# Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [38]:
## The del keyword also removes the specified index:

# Example: Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [39]:
## The del keyword can also delete the list completely.

# Example: Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist

In [40]:
## The clear() method empties the list, the list still remains, but it has no content.

# Example: Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Loop Through a List

In [41]:
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [42]:
## Loop Through the Index Numbers
# You can also loop through the list items by referring to their index number.
# Use the `range()` and `len()` functions to create a suitable iterable.

# Example: Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

**Note**: The iterable created `(i)` in the example above is `[0, 1, 2]`.

In [47]:
# Example: Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Looping Using List Comprehension
- List Comprehension offers the shortest syntax for looping through lists.

In [55]:
lt1 = ["apple", "banana", "cherry"]
[print(x) for x in lt]

apple
banana
cherry

[None, None, None]

In [59]:
thislist = ["apple", "banana", "cherry"]
result = [print(x) for x in thislist]
## print(result, type(result)) # [None, None, None] <class 'list'>

apple
banana
cherry

##### List Comprehension
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [60]:
# without using list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [63]:
# using list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [fruit for fruit in fruits if 'a' in fruit]
print(newlist)

['apple', 'banana', 'mango']

The Syntax

`newlist = [expression for item in iterable if condition == True]`
- The condition is like a filter that only accepts the items that evaluate to `True`.
- The `iterable` can be `any iterable object`, like a `list, tuple, set` etc.
- The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list.

In [64]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

In [66]:
newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [69]:
## You can set the outcome to whatever you like:

# Example: Set all values in the new list to 'hello':

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ['hello' for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

In [70]:
## Return "orange" instead of "banana":

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

Sort List Alphanumerically
- List objects have a sort() method that will sort the list alphanumerically, ascending, by default.

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort() # compare ASCII values
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [77]:
thislist = ["Orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort() # compare ASCII values
print(thislist)

['Orange', 'banana', 'kiwi', 'mango', 'pineapple']

In [74]:
## Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [75]:
## To sort descending, use the keyword argument reverse = True

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [76]:
## Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

Customize Sort Function
- We can also customize the sort function by using our own function as the argument of 'key' parameter. (key = my_func)
- The function will return a number that will be used to sort the list (the lowest number first).

In [ ]:
## Sort the list based on how close the number is to 50.
def myfunc(n):
    return abs(n-50)

lt = [100, 50, 65, 82, 23] # 50, 0, 15, 32, 27
lt.sort(key = myfunc)
lt

[50, 65, 23, 82, 100]

In [81]:
list.sort?

Signature: list.sort(self, /, *, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      method_descriptor

**Note:** By default the `sort() method` is case sensitive, resulting in all capital letters being sorted before lower case letters.

In [ ]:
## Case sensitive sorting can give an unexpected result.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [83]:
## Perform a case-insensitive sort of the list: key = str.lower

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [84]:
str.lower?

Signature: str.lower(self, /)
Docstring: Return a copy of the string converted to lowercase.
Type:      method_descriptor

In [85]:
## Reverse the order of the list items: reverse()

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

built-in List method `copy()` to copy a list

In [86]:
## Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [87]:
## Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [88]:
## Make a copy of a list with the : (slice) operator:

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

Join Two Lists
- There are several ways to join, or concatenate, two or more lists in Python.
- One of the easiest ways are by using the `+` operator.

In [89]:
## Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [90]:
## Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

`extend() method`: is used to add elements from one list to another list.

In [91]:
## Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

##### List Methods  
Python has a set of built-in methods that we can use on lists.

| Method      | Description                                                     |
|-------------|-----------------------------------------------------------------|
| `append()`  | Adds an element at the end of the list                           |
| `clear()`   | Removes all the elements from the list                           |
| `copy()`    | Returns a copy of the list                                       |
| `count()`   | Returns the number of elements with the specified value          |
| `extend()`  | Adds the elements of a list (or any iterable) to the end of the current list |
| `index()`   | Returns the index of the first element with the specified value  |
| `insert()`  | Adds an element at the specified position                        |
| `pop()`     | Removes the element at the specified position                    |
| `remove()`  | Removes the item with the specified value                        |
| `reverse()` | Reverses the order of the list                                   |
| `sort()`    | Sorts the list                                                   |

#### Tuple
- Tuples are used to store multiple items in a single variable.
- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
- A tuple is a collection which is ordered and unchangeable.
- Tuples are written with round brackets.

In [93]:
mytuple = (1, 2, 3, 4, 5, "banana", "cherry")
mytuple

(1, 2, 3, 4, 5, 'banana', 'cherry')

In [94]:
## Tuple items are ordered, unchangeable, and allow duplicate values.
t = (1, 2, 1, 'banana', 2, 'mango', 'banana')
t[1] = 'grapes'
print(t)

TypeError: 'tuple' object does not support item assignment

In [95]:
len(mytuple)

7

**Note**: To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
t = (10)
print(t, type(t))

10 <class 'int'>

In [97]:
t = (10,)
print(t, type(t))

(10,) <class 'tuple'>

In [98]:
## Tuple items can be of any data type:

# Example: String, int and boolean data types

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [99]:
## A tuple can contain different data types:

# Example: A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

#### type()
- From Python's perspective, tuples are defined as objects with the data type 'tuple':

    <class 'tuple'>

In [100]:
## What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [101]:
## The tuple() Constructor
# It is also possible to use the tuple() constructor to make a tuple.

# Example: Using the `tuple() method` to make a tuple.

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [1]:
## Access Tuple Items

# Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [2]:
## Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [5]:
## Range of Indexes
# You can specify a range of indexes by specifying where to start and where to end the range.
# When specifying a range, the return value will be a new tuple with the specified items.

# Example: Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

**Note**: The search will start at index 2 (included) and end at index 5 (not included).
Remember that the first item has index 0.

In [6]:
# An example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [7]:
## Example: Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Python - Update Tuples
- Tuples are unchangeable (immutable), meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

In [8]:
## ExampleGet your own Python Server
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Add Items
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [10]:
## Example: Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

In [ ]:

## Example: Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",) # if y = ("orange") then y will not be a tuple.
thistuple += y # or thistuple = thistuple + y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

`Note:` When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

Remove Items
Note: You cannot remove items in a tuple.

- Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items.

In [13]:
## Example: Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry')

`Or you can delete the tuple completely.`

In [14]:
## Example: The `del` keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [15]:
## When we create a tuple, we normally assign values to it. This is called "packing" a tuple.

# Example: Packing a tuple
fruits = ("apple", "banana", "cherry")
fruits

('apple', 'banana', 'cherry')

`Unpacking a Tuple:` In Python, we are allowed to extract the tuple's values into variables. This is called "unpacking".

In [18]:
## Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

x, y, z = fruits
print(x,y,z)

apple
banana
cherry
apple banana cherry

`Note:` The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

`Using Asterisk*`
- If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [19]:
## Example
# Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

    If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [20]:
## Example: Add a list of values the "tropic" variable.

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Through a Tuple
- You can loop through the tuple items by using a for loop.

In [21]:
## Example: Iterate through the items and print the values.

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [22]:
## Example: Print all items by referring to their index number.

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [23]:
## Example: Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Join Two Tuples
- To join two or more tuples you can use the + operator:

In [ ]:
## Example: Join two tuples

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [25]:
## Multiply Tuples
# If you want to multiply the content of a tuple a given number of times, you can use the * operator

## Example
# Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

##### Tuple Methods

Python has two built-in methods that you can use on tuples.

| Method   | Description                                                             |
|----------|-------------------------------------------------------------------------|
| `count()` | Returns the number of times a specified value occurs in a tuple         |
| `index()` | Searches the tuple for a specified value and returns its position       |

In [27]:
t = ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [28]:
t.count('apple')

2

In [30]:
t.index('cherry') # first occurence index

2

Python Sets

In [31]:
myset = {"apple", "banana", "cherry"}
myset

{'apple', 'banana', 'cherry'}

- Sets are used to store multiple items in a single variable.
- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
- A set is a collection which is unordered, unchangeable*, and unindexed.

`* Note:` Set items are unchangeable, but you can remove items and add new items.

In [ ]:
## Sets are written with curly brackets.

## Example: Create a Set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

**Note:** Sets are unordered, so you cannot be sure in which order the items will appear.

    Set Items
- Set items are unordered, unchangeable, and do not allow duplicate values.

1. Unordered
- Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

2. Unchangeable
- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

**Note:** Once a set is created, you cannot change its items, but you can remove items and add new items.

In [33]:
## Duplicates Not Allowed
# Sets cannot have two items with the same value.

## Example
# Duplicate values will be ignored.

thisset = {"apple", "banana", "cherry", "apple"}


print(thisset)

{'cherry', 'apple', 'banana'}

**Note:** Note: The values `True` and `1` are considered the same value in sets, and are treated as duplicates.

In [34]:
## Example: True and 1 is considered the same value.

thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'cherry', True, 2, 'apple', 'banana'}

**Note:** The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [35]:
## Example: False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [36]:
## length of set
len(thisset)

5

In [37]:
## Set items can be of any data type:

# Example: String, int and boolean data types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [39]:
## A set can contain different data types.

# Example: A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
print(set1)
print(len(set1), type(set1))

{True, 34, 'male', 'abc', 40}
5 <class 'set'>

`type()`
- From Python's perspective, sets are defined as **objects with the data type 'set'**.

**<class 'set'>**

The set() Constructor
- It is also possible to use the set() constructor to make a set.

In [40]:
## Example: Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

Access Items
- You **cannot** access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [41]:
## Example: Loop through the set, and print the values.

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [44]:
## Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [45]:
## Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

Change Items
- Once a set is created, you `**cannot**` change its items, but you can add new items.

In [47]:
## Example
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

Add Sets
- To add items from another set into the current set, use the `update() method`.

In [49]:
## Example: Add elements from tropical into thisset.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)

print(thisset)
print(tropical)

{'cherry', 'papaya', 'mango', 'pineapple', 'apple', 'banana'}
{'papaya', 'mango', 'pineapple'}

Add Any Iterable
- The object in the `update() method` does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [52]:
## Example: Add elements of a list to at set.

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)
print(mylist)

{'cherry', 'kiwi', 'apple', 'orange', 'banana'}
['kiwi', 'orange']

Remove Item
- To remove an item in a set, use the `remove()`, or the `discard()` method.

In [53]:
## Example: Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

**Note**: If the item to remove does not exist, `remove()` will raise an error.

In [55]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("grapes")
print(thisset)

KeyError: 'grapes'

In [ ]:
## Remove "banana" by using the discard() method.

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

**Note**: If the item to remove does not exist, `discard()` will NOT raise an error.

In [57]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("grapes")
print(thisset)

{'cherry', 'apple', 'banana'}

- You can also use the `pop()` method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.
- The return value of the `pop()` method is the removed item.

In [59]:
## Example: Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

**Note**: Sets are unordered, so when using the `pop()` method, you do not know which item that gets removed.

In [ ]:
## Example
# The clear() method empties the set

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset, '\n' ,len(thisset))

set()
 0

In [63]:
## Example
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

Loop Items
- You can loop through the set items by using a for loop.

In [65]:
## Example
# Loop through the set, and print the values.

thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
apple
banana

Join Sets
- There are several ways to join two or more sets in Python.
1. The `union()` and `update()` methods joins all items from both sets.
2. The `intersection()` method keeps ONLY the duplicates (common items of both sets).
3. The `difference()` method keeps the items from the first set that are not in the other set(s).
4. The `symmetric_difference()` method keeps all items EXCEPT the duplicates.

In [68]:
## Union
# The union() method returns a new set with all items from both sets.

## Join set1 and set2 into a new set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [69]:
## We can use the `|` operator instead of the `union()` method, and we will get the same result.

## Use | to join two sets:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

Join Multiple Sets
- All the joining methods and operators can be used to join multiple sets.
- When using a method, just add more sets in the parentheses, separated by commas.

In [71]:
## Join multiple sets with the union() method:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'bananas', 'a', 'b', 'John', 'cherry', 'apple', 'Elena', 'c'}

In [72]:
## When using the | operator, separate the sets with more | operators:

# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'bananas', 'a', 'b', 'John', 'cherry', 'apple', 'Elena', 'c'}

Join a Set and a Tuple
- The `union() method` allows you to join a set with other data types, like lists or tuples.

The result will be a **set**.

In [73]:
## Join a set with a tuple.

x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

**Note**: The  `| operator` only allows you to join **sets with sets**, and not with other data types like you can with the  `union() method`.

Update
- The `update() method` inserts all items from one set into another.
- The `update()` changes the original set, and does not return a new set.

In [74]:
## The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

**Note:** Both `union()` and `update()` will exclude any duplicate items.

Intersection
- The `intersection()` method will return a new set, that only contains the items that are present in both sets.

In [75]:
## Join set1 and set2, but keep only the duplicates:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

We can use the `&` operator instead of the `intersection() method`, and we will get the same result.

In [76]:
## Use & to join two sets

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

**Note**: The `& operator` only allows you to join sets with sets, and not with other data types like you can with the `intersection()` method.

The `intersection_update()` method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [77]:
## Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

**Note:** The values `True` and `1` are considered the same value. The same goes for `False` and `0`.

In [79]:
## Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

Difference
- The `difference() method` will return a new set that will contain only the items from the first set that are not present in the other set.

In [80]:
## Keep all items from set1 that are not in set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

**Note**: We can use the `-` **operator** instead of the `difference() method`, and we will get the same result.

In [81]:
## Use - to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

**Note**: The `-` operator only allows you to join sets with sets, and not with other data types like you can with the `difference()` method.

The `difference_update()` method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [82]:
## Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

Symmetric Differences
- The `symmetric_difference()` method will keep only the elements that are NOT present in both sets.

In [83]:
## Keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'google', 'microsoft', 'cherry', 'banana'}

**Note**: We can use the `^` operator instead of the `symmetric_difference()` method, and we will get the same result.

In [84]:
## Use ^ to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'microsoft', 'cherry', 'banana'}

**Note:** The `^` **operator** only allows you to join sets with sets, and not with other data types like you can with the `symmetric_difference()` **method**.

The `symmetric_difference_update()` method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [85]:
## Use the symmetric_difference_update() method to keep the items that are not present in both sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'microsoft', 'google', 'banana'}

##### Set Methods

- Python has a set of built-in methods that we can use on sets.

| Method                       | Shortcut | Description                                                                 |
|------------------------------|----------|-----------------------------------------------------------------------------|
| `add()`                      |          | Adds an element to the set                                                 |
| `clear()`                    |          | Removes all the elements from the set                                      |
| `copy()`                     |          | Returns a copy of the set                                                  |
| `difference()`               | `-`      | Returns a set containing the difference between two or more sets            |
| `difference_update()`        | `-=`     | Removes the items in this set that are also included in another, specified set |
| `discard()`                  |          | Removes the specified item                                                 |
| `intersection()`             | `&`      | Returns a set, that is the intersection of two other sets                   |
| `intersection_update()`      | `&=`     | Removes the items in this set that are not present in other, specified set(s) |
| `isdisjoint()`               |          | Returns whether two sets have an intersection or not                        |
| `issubset()`                 | `<=`     | Returns whether another set contains this set or not                        |
|                              | `<`      | Returns whether all items in this set are present in other, specified set(s) |
| `issuperset()`               | `>=`     | Returns whether this set contains another set or not                        |
|                              | `>`      | Returns whether all items in other, specified set(s) are present in this set |
| `pop()`                      |          | Removes an element from the set                                            |
| `remove()`                   |          | Removes the specified element                                              |
| `symmetric_difference()`     | `^`      | Returns a set with the symmetric differences of two sets                    |
| `symmetric_difference_update()` | `^=`    | Inserts the symmetric differences from this set and another                 |
| `union()`                    | <code>&#124;</code>  | Returns a set containing the union of sets                                 |
| `update()`                   | <code>&#124;=</code> | Updates the set with the union of this set and others                       |

#### Python Dictionaries

In [86]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [87]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Dictionary
- Dictionaries are used to store data values in `key:value pairs`.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Ordered or Unordered?
- **Note**: As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values.

In [88]:
## Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

- When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.
- Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

Changeable
- Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

Duplicates Not Allowed
- Dictionaries cannot have two items with the same key.

In [89]:
## Example: Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

`len()` function: to determine the number items in the dictionary.

In [91]:
## Print the number of items in the dictionary:
print(len(thisdict))

3

Dictionary Items - Data Types
- The values in dictionary items can be of any data type.

In [93]:
# Example: String, int, boolean, and list data types.

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [94]:
## Print the data type of a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

The `dict() Constructor`
- It is also possible to use the dict() constructor to make a dictionary.

In [95]:
# Example: Using the dict() method to make a dictionary:

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [96]:
my_dict = dict(name = "Shivam Rathore", age = 20, college = 'IIT Hyderabad')
print(my_dict)

{'name': 'Shivam Rathore', 'age': 20, 'college': 'IIT Hyderabad'}

Accessing Items
- We can access the items of a dictionary by referring to its key name, inside square brackets.

In [97]:
## Example: Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [ ]:
### There is also a method called get() that will give you the same result.

# Get the value of the "model" key:
x = thisdict.get("model")
print(x)

Mustang

Get Keys
- The `keys() method` will return a list of all the keys in the dictionary.

In [103]:
## Example
# Get a list of the keys:

x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

**Note**: The list of the keys is a `view` of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [104]:
## Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()
print(x) #before the change

car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Get Values
- The `values() method` will return a list of all the values in the dictionary.

In [105]:
## Example
# Get a list of the values.

x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

**Note:** The list of the values is a `view` of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [106]:
## Example
# Make a change in the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()
print(x) #before the change

car["year"] = 2020
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [107]:
## Add a new item to the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()
print(x) #before the change

car["color"] = "red"
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

Get Items
- The `items() method` will return each item in a dictionary, as tuples in a list.

In [108]:
## Get a list of the key:value pairs

x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

**Note**: The returned list is a `view` of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [109]:
## Make a change in the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()
print(x) #before the change

car["year"] = 2020
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [110]:
## Add a new item to the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()
print(x) #before the change

car["color"] = "red"
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

Check if Key Exists
- To determine if a specified key is present in a dictionary use the `in` keyword.

In [111]:
## Check if "model" is present in the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Values
- You can change the value of a specific item by referring to its key name.

In [113]:
## Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

Continue from here: https://www.w3schools.com/python/python_dictionaries_change.asp

#### Python Functions

In [119]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [123]:
def my_function(fname):
    print('Hi ' + fname)

my_function('Shivam')  
my_function('Adarsh')

Hi Shivam
Hi Adarsh

Parameters or Arguments?
- A parameter is the variable listed inside the parentheses in the function definition.
- An argument is the value that is sent to the function when it is called.

In [126]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function('Shivam','Rathore')  
my_function('Adarsh','Patel')

Shivam Rathore
Adarsh Patel

In [127]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function('Shivam')  
my_function('Adarsh')

TypeError: my_function() missing 1 required positional argument: 'lname'

**Note:** function expects 2 arguments, but gets only 1

Arbitrary Arguments, *args
- If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
- This way the function will receive a `tuple of arguments`, and can access the items accordingly

In [129]:
# Arbitrary Arguments, *args
def my_function(*kids):
    print('The youngest child is', kids[3])

my_function('Smith', 'Stark', 'Linus', 'Marry', 'John')

The youngest child is Marry

Keyword Arguments
- You can also send arguments with the key = value syntax.
- This way the order of the arguments does not matter.

In [130]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

**Note:** The phrase `Keyword Arguments` are often shortened to `kwargs` in Python documentations.

##### Arbitrary Keyword Arguments, **kwargs
- If you do not know how many keyword arguments that will be passed into your function, add two asterisk: `**` before the parameter name in the function definition.
- This way the function will receive a `dictionary of arguments`, and can access the items accordingly.

In [132]:
def func(**kids):
    print('The last name of the kid is ' + kids['lname'])

func(lname = "Henry", fname = "Tye")

The last name of the kid is Henry

In [133]:
# default parameter value
def func(country = 'India'):
    print(f'I am from {country}')

func('USA')
func('Australia')    
func()
func('Germany')

I am from USA
I am from Australia
I am from India
I am from Germany

**Note**: You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function

In [134]:
## passing a list as an argument

def func(fruits):
    for fruit in fruits:
        print(fruit)

fruits = ['apple', 'mango', 'banana']
func(fruits)

apple
mango
banana

In [139]:
# write a function that return table of a number

def func(n):
    lt = []
    for i in range(1,11):
        lt.append(n*i)
    return lt    

print(func(5))
print(func(19))
print(func(25))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[19, 38, 57, 76, 95, 114, 133, 152, 171, 190]
[25, 50, 75, 100, 125, 150, 175, 200, 225, 250]

In [ ]:
def func():
    pass # function definition can't be empty

- Positional Arguments: These are arguments passed to a function in the correct order (position).
- Keyword Arguments: You explicitly specify parameter names when passing arguments. This allows you to pass arguments out of order.

**Note**: We can specify that a function can have `ONLY positional arguments`, or `ONLY keyword arguments`.
- `positional arguments`: add `, /` after the arguments.
- To specify that a function can have only `keyword arguments`, `add *`, before the arguments:

In [145]:
# positional argument
def func(x,y,/):
    return x-y

print(func(10,15))

-5

In [144]:
# keyword argument
def func(*,x,y):
    return x-y

print(func(y=10,x=15))

5

In [146]:
# by default: keyword argument
def func(x,y):
    return x-y

print(func(y=10,x=15))

5

In [ ]:
# imp. note : adding the , / produce an error if you try to send a keyword argument and vice-versa.
def func(x,y,/):
    return x-y

print(func(y=10,x=15))

TypeError: func() got some positional-only arguments passed as keyword arguments: 'x, y'

**Note** : Without the `*,` we are allowed to use positional arguments even if the function expects keyword arguments.

Comnibe both positional and keyword argument
- argument before the `/ ,` are positional-only & argument after the `*,` are keyword-only.

In [151]:
def func(a,b,/,*,c,d):
    return a+b+c+d

print(func(10,-15, d=25, c=15))

35

Recursion

In [ ]:
# recursive function to find sum from 1 to n
def func(n):
    if n==0:
        return 0
    return n+func(n-1)

print(func(5))
print(func(10))
print(func(6))

15
55
21

Python Lambda Function

- syntax: `lambda arguments : expression`

In [156]:
a = lambda x,y : x+y
print(a(5,15))

20

In [158]:
b = lambda x,y,z : x*y*z
print(b(4,1,8))

32

In [159]:
# The power of lambda is better shown when you use them as an anonymous function inside another function.
def myfunc(n):
    return lambda a : a * n

In [162]:
doubler = myfunc(2)
print(doubler(5))
tripler = myfunc(3)
print(tripler(5))

10
15

**Note**: Use lambda functions when an anonymous function is required for a short period of time.

#### Arrays

**Note**: Python does not have built-in support for Arrays, but Python Lists can be used instead.

In [187]:
arr = ['BMW', 'Ford', 'Toyota']
print(arr)

['BMW', 'Ford', 'Toyota']

In [188]:
print(arr[1])

Ford

In [189]:
# len() method
len(arr)

3

In [190]:
for item in arr:
    print(item, end=' ')

BMW Ford Toyota

In [191]:
# append() method
arr.append('Honda')
arr

['BMW', 'Ford', 'Toyota', 'Honda']

In [192]:
# pop() method: remove and return item at index (default last).
print(arr.pop(1))
print(arr)

Ford
['BMW', 'Toyota', 'Honda']

In [193]:
# remove() method: to remove an element (first occurence) from the array(list)
arr.remove('Toyota')
print(arr)

['BMW', 'Honda']

#### Lists/Arrays Methods:
<div align="center">

| **Method**    | **Description**                                                |
|---------------|----------------------------------------------------------------|
| `append()`    | Adds an element at the end of the list                         |
| `clear()`     | Removes all the elements from the list                         |
| `copy()`      | Returns a copy of the list                                     |
| `count()`     | Returns the number of elements with the specified value        |
| `extend()`    | Add the elements of a list (or any iterable) to the end of the current list |
| `index()`     | Returns the index of the first element with the specified value |
| `insert()`    | Adds an element at the specified position                      |
| `pop()`       | Removes the element at the specified position                  |
| `remove()`    | Removes the first item with the specified value                |
| `reverse()`   | Reverses the order of the list                                 |
| `sort()`      | Sorts the list                                                 |

</div>

#### Python Classes & Objects

- Python is an object oriented programming language.
- Almost everything in Python is an object, with its properties(attributes) and methods.
- A Class is like an object constructor, or a "blueprint" for creating objects.

In [198]:
# create a class
class myClass:
    x = 10

In [199]:
# create an object of the above class
p1 = myClass()
print(p1.x)

10

The `__init__()` Function: special built-in function in Python classes called a constructor.
- All classes have a function called `__init__()`, which is always executed when the class is being initiated.
- Use the` __init__()` function to assign values to object properties, or other operations that are necessary to do when the object is being created.

In [ ]:
class Student:
    def __init__(self, _name, _age):
        self.name = _name
        self.age = _age

p1 = Student('Aman', 23)
print(p1.name, p1.age)

Aman 23

**Note**:  The `__init__()` function is called automatically every time the class is being used to create a new object.

The `__str__()` function
- The` __str__()` function controls what should be returned when the class object is represented as a string.
- If the `__str__()` function is not set, the string representation of the object is returned

In [201]:
# when __str__() is not set
class Student:
    def __init__(self, _name, _age):
        self.name = _name
        self.age = _age

P1 = Student('Anand', 28)
print(P1)

<__main__.Student object at 0x00000250D5EB6090>

- < >: Indicates that this is an object.
- `__main__`: Refers to the main module where the class is defined (i.e., the script being run directly).
- .Student: Shows the class name of the object (Student class in this case).
- object at: Specifies that this is an object reference.
- 0x00000250D5EB6090: This is the memory address where the object is stored (in hexadecimal format).

When you print an object directly, Python prints the default representation of the object unless you tell it how to display the object's information.

In [203]:
## string representation of an object WITH the __str__() function

class Student:
    def __init__(self, _name, _age):
        self.name = _name
        self.age = _age

    def __str__(self):
        return f'{self.name} {self.age}'    

P1 = Student('Anand', 28)
print(P1)

Anand 28

**Note**: The `__str__()` method customizes how the object is printed.

In [ ]:
## Object Methods: Objects can also contain methods, Methods in objects are functions that belong to the object.

# Insert a function that prints a greeting, and execute it on the p1 object
class Person:
    def __init__(self, _name, _age):
        self.name = _name
        self.age = _age

    def greet(self):
        print(f'Hi, I am {self.name}')

P1 = Person('Aman', 20)
P1.greet()

Hi, I am Aman

**Note**: The `self` parameter is a reference to the current instance(object) of the class, and is used to access variables that belong to the class.

In [ ]:
## The `Self` Parameter
# > It does not have to be named `self`, you can call it whatever you like, but it has to be the 
#   first parameter of any function in the class.

## Use the words sillyobject and abcd instead of self

class Person:
    def __init__(sillyobject, _name, _age):
        sillyobject.name = _name
        sillyobject.age = _age

    def greet(abcd):
        print(f'Hi, {abcd.name}')

p1 = Person('Ajay', 45)
p2 = Person('Aman', 20)
p1.greet()     

print(p2.name)

# set age to 40
p1.age = 40
print(p1.age)
# delete object's property
del p1.age
print(p1.age)

Hi, Ajay
Aman
40

AttributeError: 'Person' object has no attribute 'age'

In [214]:
# delete an object
del p2
print(p2.name, p2.age)

NameError: name 'p2' is not defined

In [216]:
class Student:
    pass

$Ques:$ When the class object is represented as a string, there is a function that controls what should be returned, which one?
1. `__init__()`

2. `__str__()`

3. `__return__()`

- Option B is correct :)